@import '../../../styles.scss';

$zindex: 500;

.modal-container {
  background: #fff;
  border-radius: $border-radius;
  box-shadow: 0px 0px 0.2em 0.1em #0002;
  min-width: 30vw;
  max-width: 30vw;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: $zindex;

  > header {
    @include blue-gradient();
    padding: 1em;
    border-radius: $border-radius $border-radius 0px 0px;
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .modal-content {
    padding: 1em;
    display: flex;
    gap: 0.5em;
    flex-flow: column;
  }
}

.modal-overlay {
  background: #000;
  height: 100vh;
  left: 0;
  opacity: 0.3;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: calc($zindex - 1);
}
