@import '../styles.scss';

$header-size: 4.2em;

.app-container {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-flow: column;
  position: relative;

  > header {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: $header-size;
    max-height: $header-size;
    display: flex;
    justify-content: space-between;
    @include blue-gradient();

    .input-container {
      padding: 1.2em 2em;
      width: 100%;
      display: flex;
      gap: 0.5em;
      align-items: center;

      i {
        color: white;
      }

      input[type="text"] {
        background-color: transparent;
        border: none;
        width: 100%;
        outline: none;
        color: white;
        font-size: 0.9em;

        &::placeholder {
          opacity: 1;
        }
      }
    }

    #user-details {
      position: relative;
      display: flex;
      align-items: center;
      gap: 1.5em;
      max-width: 20em;
      border-left: 1px solid #ffffff55;
      white-space: nowrap;
      padding-left: 1.5em;
      padding-right: 3em;
      cursor: pointer;

      @include gradient-hover();

      span {
        color: white;
      }

      img {
        width: 3em;
        height: 3em;
        object-fit: cover;
        border-radius: 100%;
        border: 1px solid transparent;
        transition: border 0.1s linear;
      }

      &:hover {
        img {
          border: 0.2em solid white;
        }
      }
    }
  }

  button, #new-task {
    @include gradient-hover();
    @include blue-gradient();

    &::before {
      border-radius: 100%;
    }

    $size: 1.7em;
    $offset: 0.8em;

    position: fixed;
    right: $offset;
    bottom: $offset;
    width: $size;
    height: $size;
    border-radius: 100%;
    font-size: 2.5em;
    box-shadow: 0px 0.2em 0.3em 0.05em #0002;
  }


  > #board {
    margin-top: $header-size;

    display: flex;
    width: 100%;
    gap: 3em;
    padding: 3em;

    .status-lane {
      position: relative;
      background-color: #F6F8FB;
      box-shadow: 0px 0px 3px 3px #0003;
      border-radius: 0.2em;
      width: 100%;
      height: fit-content;

      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 4px;
        margin-top: -4px;
        border-top-left-radius: 100%;
        border-top-right-radius: 100%;
        background-image: linear-gradient(to right, #93a4fc, #66ABF8);
      }

      &:first-child {
        &::before {
          background-image: linear-gradient(to right, #CA75E2, #D9678D);
        }
      }

      &:last-child {
        &::before {
          background-image: linear-gradient(to right, #76D3AA, #79D3E5);
        }
      }

      > header {
        padding: 1em 1.5em;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      #tasks{
        padding: 0em 1em;
        padding-bottom: 1em;

        .task-card {
          display: flex;
          flex-flow: column;
          background-color: white;
          border: 1px solid #e4e4e4;
          border-radius: 0.2em;
          padding: 0.7em;

          .priority-flag {
            width: fit-content;
            padding: 0.2em 0.6em;
            border-radius: 0.2em;
            color: white;
            text-transform: capitalize;
            font-size: 0.8em;
            user-select: none;

            @include priorities-colors();
          }

          label {
            padding: 1em 0em;
            font-weight: bold;
          }

          .responsibles {
            display: flex;
            justify-content: flex-end;
            gap: 0.5em;

            $size: 1.8em;

            img, .more-responsibles {
              width: $size;
              height: $size;
              border-radius: 100%;
              object-fit: cover;
              background-color: #EEF2F9;
              display: flex;
              justify-content: center;
              align-items: center;
              font-weight: bold;
              border: 1px solid #e4e4e4;
            }
          }
        }
      }
    }
  }

}
