<div class="app-container">
  <header>
    <div class="input-container">
      <i class="fa fa-search"></i>
      <input type="text" [(ngModel)]="searchTerm" placeholder="Search for tasks..." />
    </div>
    <div id="user-details">
      <span>{{loggedUser.name}}</span>
      <img [src]="loggedUser.imageUrl" />
    </div>
  </header>
  <div id="board">
      <div class="status-lane" *ngFor="let statusEntry of taskStatus | keyvalue">
        <header>
          <h3>{{statusEntry.value.label}}</h3>
          <i class="fa fa-ellipsis-v"></i>
        </header>
        <div id="tasks">
          <div class="task-card" *ngFor="let task of tasks | keyvalue | tasksByStatus: statusEntry.value.identifier">
            <div [ngClass]="['priority-flag', task.priority]">
              {{task.priority}}
            </div>
            <label>
              {{task.title}}
            </label>
          </div>
        </div>
      </div>
  </div>
</div>
