.app-container {
  display: flex;
  flex-flow: column;

  > header {
    background-image: linear-gradient(to right, #99A9FC, #72B3F8);
    padding: 1.3em;

    .input-container{
      display: flex;
      gap: 5px;

      i {
        color: white;
      }

      input[type="text"] {
        background-color: transparent;
        border: none;
        width: 100%;
        outline: none;
        color: white;
        font-size: 0.9em;
      }

      ::placeholder {
        opacity: 1;
      }
    }
  }
}
