$bg-color: #EEF2F9;
$px-size: 16px;


* {
  box-sizing: border-box;
  margin: 0px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #8687A2;
}

body {
  background-color: $bg-color;
  font-size: $px-size;
}
