$bg-color: #EEF2F9;
$em-size: 16px;
$border-radius: 0.5em;
$responsible-img-size: 1.8em;

$blue-gradient-color: linear-gradient(to right, #99A9FC, #72B3F8);
$orange-gradient-color: linear-gradient(to right, #ffaa5a, #fd7945);

@mixin priorities-colors() {
  &.low {
    background-image: linear-gradient(to right, #76D3AA, #79D3E5);
  }
  &.medium {
    background-image: linear-gradient(to right, #93a4fc, #66ABF8);
  }
  &.high {
    background-image: linear-gradient(to right, #CA75E2, #D9678D);
  }
}

@mixin blue-gradient() {
  background-image: $blue-gradient-color;
  color: white;
  > span, > div {
    color: white;
  }
}

@mixin gradient-hover() {
  position: relative;

  > * {
    position: sticky;
    z-index: 2;
  }

  &::before {
    position: absolute;
    content: "";
    inset: 0;
    background-image: $orange-gradient-color;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.1s linear;
  }

  &:hover {
    &::before {
      opacity: 1;
    }
  }
}

@mixin input-styles() {
  background-color: transparent;
  outline: none;
  padding: 0.5em;

  border-width: 1px;
  border-style: solid;
  border-image-slice: 1;
  border-image-source: $blue-gradient-color;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  font-size: 1em;

  &:focus {
    border-image-source: $orange-gradient-color;
  }
}

* {
  box-sizing: border-box;
  margin: 0px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #8687A2;
}

body {
  background-color: $bg-color;
  font-size: $em-size;
}

img, .responsible-img {
  width: $responsible-img-size;
  height: $responsible-img-size;
  border-radius: 100%;
  object-fit: cover;
  border: 1px solid #e4e4e4;
}

.responsibles-list {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 0.3em;

  > div {
    position: relative;
    width: $responsible-img-size;
    height: $responsible-img-size;

    &::before {
      position: absolute;
      content: "\00D7";
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #c74c5d;
      color: white;
      width: 100%;
      height: 100%;
      border-radius: 100%;
      opacity: 0;
      cursor: pointer;
      transition: opacity 0.1s;
    }

    &:hover {
      &::before {
        opacity: 1;
      }
    }
  }
}

input, textarea {
  @include input-styles();
  resize: none;
}

button {
  cursor: pointer;
  border: none;

  &.action {
    @include blue-gradient();
    @include gradient-hover();
    padding: 1em;
    border-radius: $border-radius;
    text-transform: capitalize;

    &::before {
      border-radius: $border-radius;
    }
  }

  &.x-close {
    background-color: transparent;
    &::after {
      content: '\00D7';
      font-size: 1.75em;
      color: white;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0.5em;
      transition: color 0.2s;
    }

    &:hover {
      &::after{
        color: #fffc;
      }
    }
  }
}

.button-group {
  display: flex;
  gap: 0.1em;

  button {
    width: 100%;
    padding: 0.3em 0px;
    text-transform: capitalize;

    &.active {
      @include priorities-colors();
      color: white;
    }

    &:first-child {
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }

    &:last-child {
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }
}

select {
  @include input-styles();
}
